body {
    background-color: #F1EFE7;
    font-size: 16px;
    position: relative;
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #89897B;
    letter-spacing: 3px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}

h2 {
    font-family: 'Arima Madurai', cursive;
}


.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.socials {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
    color: #89897B
}

.navigation {
    background-color: #688462;
    border-radius: 50px;
    height: 60px;
    width: 40%;
    /* holy flex quadrupple */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}
.navigation button {
    border-radius: 25px;
    height:fit-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F1EFE7;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #89897B;
    letter-spacing: 3px;
    font-weight: 500;
}

/* HERO SECTION */

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name {
    display: inline-block;
}

#typed-out {
    overflow: hidden;
    width: 0;
    animation: typing 3s forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

#logo {
    display: block;
}

.hero-buttons {
    margin-top: 10px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-button {
    border-radius: 25px;
    background-color: #688462;
    color:#F1EFE7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    
}

#hireme-button {
   
    border-radius: 25px;
    background-color: #f9f4bd;
    color: #89897B;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
}

/* ABOUT ME SECTION */

.aboutme-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 50vh;
}

#portrait {
    width: 300px;
    height: auto;
}

.aboutme-content {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.photo {
    border-radius: 9999px;
    overflow: hidden;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* SKILLS SECTION */

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1c9bc;
    background: linear-gradient(0deg, rgba(241,239,231,1) 0%, rgba(209,201,188,1) 0%, rgba(241,239,231,1) 100%);
    height: 200px;
}

.skills-content {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-evenly;
    color: #505048;
    width: 100%;
}

/* PROJECTS SECTION */

h4,
.learn-more-button {
    font-family: 'Montserrat', sans-serif;
    color: #89897B;
    letter-spacing: 3px;
    font-weight: 500;
}

.projects-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#projects-sub {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.projects-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-photo {
    height: 250px;
    padding: 20px;
    border-radius: 40px;
}

.project1,
.project2,
.project3 {
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.07), 0 6px 20px 0 rgba(0,0,0,0.07);
}

.project-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 65%;
}

.learn-more-button {
    border-radius: 25px;
    background-color: #688462;
    color:#F1EFE7;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    width: 200px;
}

/* CONTACT SECTION */

.contact-container {
    margin-bottom: 40px;
}

#contact-sub {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text p {
    margin: 0;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
}

.contact-text {
    border-right: solid #505048;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.contact-info {
    width: 250px;
    padding-left: 20px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#email {
    text-decoration: none;
    padding: 5px;
    color: black;
    background-color:#f9f4bd;
    border-radius: 40px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-weight: 500;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.07), 0 6px 20px 0 rgba(0,0,0,0.07);
}

#email:hover, #email:active {
    background-color: #89897B;
  }

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}