body {
    background-color: #F1EFE7;
    font-size: 16px;
    position: relative;
    /* border: solid red; */
    margin: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #89897B;
    letter-spacing: 3px;
    font-weight: 500;
    height: fit-content;
    margin: 0;
}

h2 {
    font-family: 'Arima Madurai', cursive;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.socials {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 15px;
    color: #89897B
}


.navigation {
    background-color: #80a583;
    border-radius: 50px;
    height: 60px;
    width: 40%;
    /* holy flex quadrupple */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}
.navigation button {
    border-radius: 25px;
    height:fit-content;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F1EFE7;
    border: none;
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.name {
    display: inline-block;
}


#typed-out {
    overflow: hidden;
    width: 0;
    animation: typing 3s forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

#logo {
    display: block;
}

.title {

}

.hero-buttons {
    margin-top: 10px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#about-button {
    border-radius: 25px;
    background-color: #505048;
    color:#F1EFE7;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    
}

#hireme-button {
   
    border-radius: 25px;
    background-color: #80a583;
    color:#F1EFE7;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}


.aboutme-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 50vh;
}

#portrait {
    width: 300px;
    height: auto;
    
}

.aboutme-content {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.photo {
    border-radius: 9999px;
    overflow: hidden;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.skills-content {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-evenly;
    color: #505048;
    width: 100%;
}


.projects-container {
    border: solid;
}

#projects-sub {
    border: solid;
}

.projects-content {
    border: solid red;
}